<!Doctype html>
<html>
	<head>
		<title>AboutUS</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="navbarcss.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="../Styles/style.css">	
		<style type="text/css">
		body
		{
			font-family:Verdana;
		}
		h2
		{
			margin-top:20px;
			text-align:center;
		}
		</style>
	</head>
	<body style="border-bottom:3px solid black; font-size:25px;">
	<nav class="navbar navbar-inverse  navbar-fixed-top navsize">
  			<div class="container-fluid">
  				  <div class="navbar-header">
  					  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
  						  <span class="icon-bar"></span>
 						  <span class="icon-bar"></span>
       						  <span class="icon-bar"></span>                      
      					  </button>
      					  <a class="navbar-brand" href="#">RutuRiya Watches</a>
   				  </div>
    				  <div class="collapse navbar-collapse" id="myNavbar">
      				  	<ul class="nav navbar-nav">
        					<li><a href="../index.html">Home</a></li>
       						<li class="dropdown">
        						<a class="dropdown-toggle" data-toggle="dropdown" href="#">Shop<span class="caret"></span></a>
        							<ul class="dropdown-menu">
      									<li><a href="men.html">Men</a></li>
          								<li><a href="women.html">Women</a></li>
         								<li><a href="kid.html">Kids</a></li>
        							</ul>
    						</li>
        					<li><a href="contact.html">Contact us</a></li>
						<li><a href="about.html">About us</a></li>
      					</ul>
      				  </div>
  			</div>
		</nav>
	<h2 style="padding-top:70px;">ABOUT US</h2>
	<hr>
	<div class="container">
		<div class="row" style="background-color:#e1eedd;">
			<div class="col-sm-6">
				<p id="id1">We have varied watches for men. From sporty to all types of watches are avaiable for men.</p>
			</div>
			<div class="col-sm-6">
				<img src="../Assets/Images/mens.jpg" class="abtusimgs">
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<img src="../Assets/Images/womens.jpg" class="abtusimgs">
			</div>
			<div class="col-sm-6">
				<p  id="id1">A nice collection of watches from casual, formal or sports are avaiable for women</p>
			</div>
		</div>
		<div class="row" style="background-color:#e1eedd;">
			<div class="col-sm-6">
				<p  id="id1">We have varied watches for kids.</p>
			</div>
			<div class="col-sm-6">
				<img src="../Assets/Images/kids.jpg" class="abtusimgs">
			</div>
		</div>
	<div>	
	</body>
</html>